@@include('../include/_head.html', {
"page": "main"
})

<!-- <script src="http://static.ocean2you.co.kr/js/renew/jquery.mb.YTPlayer.min.js"></script>
<script src="http://static.ocean2you.co.kr/js/renew/index_player.js"></script> -->

<!-- <script src="../../static/js/renew/index_player.js"></script>-->
<link rel="stylesheet" href="../../static/css/renew/main/player.css">

</head>

<body>

    <h1 class="hidden">오션투유리조트 설악비치 호텔앤콘도</h1>
    <div id="wrap">

        <!-- 181211 상단띠배너 추가 및 팝업 추가 -->
        <!--
    <div class="topbn-wrap clr">
        <ul class="slide-banner clr">
            <li class="bn-list-1 bn-ocean">
                <a href="javascript:;" target="_blank" class="bn-link" title="오션투유리조트 BUS왕복이용권"></a>
            </li>
        </ul>
    </div>
-->

        <!-- <div class="layer-pop-bg" id="pop-bustour" style="display: none;">
        <div class="bus-pop-wrap">
            <div class="bus-pop-con">
                <a href="http://ocean2you.co.kr/view/" target="_blank" title="예약 페이지로 이동">
                    <img src="http://img.ocean2you.co.kr/renew/pop_bustour2.jpg" alt="오션투유리조트 버스투어 이용권 구매하기">
                </a>
            </div>
            <a href="javascript:;" class="btn-pop-close"></a>
        </div>
    </div>-->
        <!-- // END : 181211 상단띠배너 추가 및 팝업 추가 -->


        <div class="vid-wrap">
            <!-- 181017 모바일 배경 영상 -->
            <section class="m-vid">
                <video id="bgMov" playsinline="" webkit-playsinline="" preload="" autoplay="" muted="">
                    <source src="http://img.ocean2you.co.kr/renew/movie_m/ocean2you_mobile.mp4" type="video/mp4" />
                </video>
            </section>
            <!-- <section id="pcVid" class="vid" data-property="{videoURL:'xPx-uKiJucw', containment:'#pcVid', showControls:false, autoPlay:true, loop:false, mute:true, startAt:0, opacity:1, addRaster:true, quality:'default', stopMovieOnBlur: false, showYTLogo: false, addRaster: true}"></section> -->

            <!-- <section class="vid-box">
                <iframe id="player" class="vidPc" src="https://www.youtube.com/embed/NupIKt3LM1Q?rel=0&amp;enablejsapi=1&amp;autoplay=1&amp;mute=1" allow="autoplay; encrypted-media" frameborder="0" allowfullscreen="" style="display: none;"></iframe>
                <script type="text/javascript" src="http://static.seabay.co.kr/svc/js/init_player.js">
            </script></section> -->

            <!-- <script src="https://www.youtube.com/iframe_api"></script> -->
           
            <section class="bg-player-box">
                <iframe id="player" class="video-pc" src="https://www.youtube.com/embed/xPx-uKiJucw?rel=0&enablejsapi=1&version3&playerapiid=ytplayer&autoplay=1&mute=1&controls=0&modestbranding=1&vq=hd1080" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
            <script>
                //백그라운드 비디오 관련
                $(document).ready(function(){
                    playerSizeSet();
                   
                    //16초 뒤 사라짐
                    setTimeout(function(){
                        $(".bg-player-box").hide();
                    },16000);

                    //리사이즈시 작동
                    $(window).resize(function(){
                        playerSizeSet();
                    })
                });
                let playerSizeSet = function(){
                    let winW = $(window).width();
                    let winH = $(window).height();
                    if(winW < winH){
                        $(".video-pc").addClass("video-pc-vertical");
                    }
                    else{
                        $(".video-pc").removeClass("video-pc-vertical");
                    }
                }
            </script>

            <!-- <section class="bg-player-box">
                <iframe class="video-pc" src="https://www.youtube.com/embed/NupIKt3LM1Q?rel=0&enablejsapi=1" allow="autoplay; encrypted-media" frameborder="0" allowfullscreen=""></iframe>
            </section> -->
            <!-- <script src="../../static/js/renew/main/init_player.js">
            </script> -->
            <!-- <script src="http://static.ocean2you.co.kr/js/renew/main/init-player.js"></script> -->
            
            <!--<section class="vid"
            data-property="{videoURL:'oZrehVk6uFY', containment:'self', showControls:false, autoPlay:true, loop:false, mute:false, startAt:0, opacity:1, addRaster:true, quality:'default', stopMovieOnBlur: false, showYTLogo: false, addRaster: true}">
        </section>-->
            <!-- <section id="pcVid" class="vid">
               <iframe id="iframe_pcVid" class="playerBox" style="position: absolute; z-index: 0; width: 1036px; height: 583px; top: 0px; left: 0px; overflow: hidden; opacity: 1; user-select: none; margin-top: -143px; margin-left: 0px; max-width: initial; transition-property: opacity; transition-duration: 1000ms;" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/xPx-uKiJucw?modestbranding=1&amp;autoplay=0&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;version=3&amp;playerapiid=iframe_pcVid&amp;origin=http%3A%2F%2Flocalhost%3A3030&amp;allowfullscreen=true&amp;wmode=transparent&amp;iv_load_policy=3&amp;playsinline=1&amp;html5=1&amp;widgetid=1" unselectable="on"></iframe>
            </section> -->


            <!-- videoURL:'xPx-uKiJucw' -->
            <!-- videoURL:'oZrehVk6uFY' -->

            @@include('../include/_header.html')

            <section class="main" id="main">

                <div class="txt-box" id="txt-box">
                    <p class="p0">
                        천혜의 절경이 펼쳐진<br>
                        강원도 설악, 속초, 고성에 위치한
                    </p>
                    <div class="mg-"></div>
                    <p class="p1"><img src="http://img.ocean2you.co.kr/renew/main_tit.png" alt="오션투유리조트"></p>
                    <!-- 180711 텍스트 추가 -->
                    <p class="p2">속초설악비치 호텔앤콘도</p>
                    <!--20180213 수정부분-->
                    <a href="javascript:;" class="more-a">자세히보기<img src="http://img.ocean2you.co.kr/renew/i_gt.png" alt="화살표" class="gt"></a>
                    <a href="javascript:;" class="more-a booking-a show-xs"><img class="cal" src="http://img.ocean2you.co.kr/renew/i_cal_2.png" alt="달력아이콘">실시간 객실예약</a>

                    <!--20180228 날씨 추가-->
                    <a href="javascript:;" class="weath-wrap">
                        <div class="weath-box">
                            <p class="weath-img">
                                <!-- 이미지명 : 맑음 clear / 구름조금 cloud / 흐림 cloud2 / 비 rain / 눈 snow -->
                                <img src="http://img.ocean2you.co.kr/renew/weather/cloud2.png" alt="날씨">
                            </p>
                            <p class="weath-txt">
                                <span class="day">2018.02.27 (화)</span>
                                <span class="location">오산날씨 : 구름많음</span>
                            </p>
                            <p class="tem-txt">
                                <span class="tem-num">12</span>
                                <span class="tem-cel">°C</span>
                            </p>
                        </div>
                    </a>
                    <!--// -->
                </div>

                <div id="scr-box">
                    <img src="http://img.ocean2you.co.kr/renew/i_mouse.png" alt="아래로스크롤하세요" class="nth-1">
                    <img src="http://img.ocean2you.co.kr/renew/i_dArr.png" alt="아래로" class="nth-2">
                    <img src="http://img.ocean2you.co.kr/renew/i_dArr.png" alt="아래로" class="nth-3">
                </div>

            </section>
        </div>

        <!-- 190405 오션투유 메인 공지 -->
        <!-- <div class="pop-notice">
        <p class="pop-ugn-box">
            <a href="#none" class="img-pop-ugn"><img src="http://img.ocean2you.co.kr/renew/banner/notice_20190405.png" alt="현재 오션투유는 정상 운영 중입니다" /></a>
        </p>
    </div> -->
        <!--//END : 190405 오션투유 메인 공지 -->

        <section class="intro" id="setTop">
            <div class="container">

                <div class="colth-1">
                    <div class="mg-"></div>
                    <h2>
                        <span class="f-bd">별빛이 쏟아지는</span><br>
                        오션투유 리조트
                    </h2>
                    <p class="p0">
                        반짝이는 하얀 백사장 위로 매일 밤<br>
                        쏟아지는 별빛을 볼 수 있는 오션투유 리조트 콘도
                    </p>
                    <a href="" class="more-a">자세히보기<img src="http://img.ocean2you.co.kr/renew/i_rArr.png" alt="더보기" class="i-rArr"></a>
                </div>
                <div class="colth-2 clr">
                    <div class="nth-1 clr">
                        <img src="http://img.ocean2you.co.kr/renew/intro_01.jpg" alt="하얀백사장에보물같은조개" class="img-1">
                        <p class="p0">
                            반짝거리는 하얀 백사장에서<br>
                            만날수 있는 보물같은 조개
                        </p>
                        <a href="" class="more-a">자세히보기</a>
                    </div>
                    <div class="nth-2 clr">
                        <img src="http://img.ocean2you.co.kr/renew/intro_02.jpg" alt="탁트인해안선과환상적인뷰" class="img-1">
                        <p class="p0">
                            탁트인 해안선과<br>
                            별빛이 쏟아지는 환상적인 뷰
                        </p>
                        <a href="" class="more-a">자세히보기</a>
                    </div>
                </div>

            </div>
        </section>

        <section class="package">
            <div class="in-bg">
                <div class="container">
                    <div class="in-tit">
                        <div class="mg-"></div>
                        <h2>OCEAN2YOU <span class="f-bd">PACKAGE</span></h2>
                        <p class="p0">가족, 친구, 연인과 함께 할 수 다양한 패키지로 즐기는 오션투유 리조트</p>
                    </div>

                    <!-- 180712 패키지 수정 및 추가 -->
                    <ul class="pkg-list clr">
                        <li class="nth-1">
                            <img src="http://img.ocean2you.co.kr/renew/package_01_1.jpg" alt="한식당 다연" class="bgImg">
                            <div class="in-cont">
                                <div class="mg-"></div>
                                <h3>한식당 다연</h3>
                                <p class="p0">
                                    다채로운 조식 뷔페, 계절 모듬물회,<br>
                                    신선하고 다양한 계절 모듬회
                                </p>
                                <a href="http://ocean2you.co.kr/package/?pack_go=1" class="more-a">자세히보기</a>
                            </div>
                        </li>
                        <li class="nth-2">
                            <img src="http://img.ocean2you.co.kr/renew/package_02_1.jpg" alt="오션숯불갈비" class="bgImg">
                            <div class="in-cont">
                                <div class="mg-"></div>
                                <h3>오션숯불갈비</h3>
                                <p class="p0">
                                    소나무 숲 향기와 바다를 바라보며<br>
                                    즐기는 바베큐의 매력
                                </p>
                                <a href="http://ocean2you.co.kr/package/?pack_go=2" class="more-a">자세히보기</a>
                            </div>
                        </li>
                        <li class="nth-3">
                            <img src="http://img.ocean2you.co.kr/renew/package_03_1.jpg" alt="속초 횟집" class="bgImg">
                            <div class="in-cont">
                                <div class="mg-"></div>
                                <h3>속초 횟집</h3>
                                <p class="p0">
                                    동해의 신선함을 그대로 즐길 수<br>
                                    있는 속초 횟집
                                </p>
                                <a href="http://ocean2you.co.kr/package/?pack_go=3" class="more-a">자세히보기</a>
                            </div>
                        </li>
                        <li class="nth-4">
                            <img src="http://img.ocean2you.co.kr/renew/package_04_1.jpg" alt="전동바이크" class="bgImg">
                            <div class="in-cont">
                                <div class="mg-"></div>
                                <h3>전동바이크</h3>
                                <p class="p0">
                                    시원하게 탁트인 해안가를 달리는<br>
                                    전동바이크 패키지
                                </p>
                                <a href="http://ocean2you.co.kr/package/?pack_go=4" class="more-a">자세히보기</a>
                            </div>
                        </li>
                        <li class="nth-5">
                            <img src="http://img.ocean2you.co.kr/renew/package_05.jpg" alt="룸서비스" class="bgImg">
                            <div class="in-cont">
                                <div class="mg-"></div>
                                <h3>룸서비스</h3>
                                <p class="p0">
                                    빠르고 신선한 음식을 바로 즐길 수<br>
                                    있는 오션투유만의 룸서비스
                                </p>
                                <a href="http://ocean2you.co.kr/package/?pack_go=5" class="more-a">자세히보기</a>
                            </div>
                        </li>
                        <!-- 190321 라바짜 주석 처리 후 낚시도구 대여 추가 -->
                        <!--<li class="nth-6">
                        <img src="http://img.ocean2you.co.kr/renew/package_06.jpg" alt="라바짜 속초설악지점" class="bgImg">
                        <div class="in-cont">
                            <div class="mg-"></div>
                            <h3>라바짜 속초설악지점</h3>
                            <p class="p0">
                                푸른 삼포해변을 바라보며 즐기는<br>
                                120년 전통의 라바짜 커피
                            </p>
                            <span class="more-a">1층 정문 위치</span>
                        </div>
                    </li>-->
                        <li class="nth-6">
                            <img src="http://img.ocean2you.co.kr/renew/package_09.jpg" alt="낚시도구 대여" class="bgImg">
                            <div class="in-cont">
                                <div class="mg-"></div>
                                <h3>낚시도구 대여</h3>
                                <p class="p0">
                                    여기 주변은 모두 최고의 낚시포인트<br>
                                    동해바다는 역시 낚시
                                </p>
                                <a href="#none" class="more-a">자세히보기</a>
                            </div>
                        </li>
                        <li class="nth-7">
                            <img src="http://img.ocean2you.co.kr/renew/package_07.jpg" alt="조개캐기" class="bgImg">
                            <div class="in-cont">
                                <div class="mg-"></div>
                                <h3>조개캐기</h3>
                                <p class="p0">
                                    은빛 해변에서 즐기는 보물찾기<br>
                                    조개캐기 패키지
                                </p>
                                <!-- 190321 프론트문의 링크로 변경 -->
                                <a href="#none" class="more-a">자세히보기</a>
                            </div>
                        </li>
                        <li class="nth-8">
                            <img src="http://img.ocean2you.co.kr/renew/package_08.jpg" alt="불꽃놀이" class="bgImg">
                            <div class="in-cont">
                                <div class="mg-"></div>
                                <h3>불꽃놀이</h3>
                                <p class="p0">
                                    밤 하늘을 가득 물들이는 찬란한<br>
                                    불꽃놀이 패키지
                                </p>
                                <!-- 190321 프론트문의 링크로 변경 -->
                                <a href="#none" class="more-a">자세히보기</a>
                            </div>
                        </li>
                        <!-- 링크 아닐경우 -->
                        <!--<span class="more-a">1층 정문 위치</span>-->
                    </ul>
                </div>
            </div>
        </section>

        <!-- 190314 주변관광지 주석처리 -->
        <!--<section class="tourist">
        <div class="container">
            <div class="in-tit">
                <h2>주변관광지</h2>
                <p class="p0">강원도 설악, 속초, 고성에 위치한 오션투유 리조트 주변 관광지안내</p>
            </div>

            <ul class="tour-list clr">
                <li class="nth-1">
                    <img src="http://img.ocean2you.co.kr/renew/tourist_01.jpg" alt="건봉사" class="bgImg">
                    <a href="javascript:;">
                        <h3>건봉사</h3>
                        <div class="mg-"></div>
                        <p class="p0">
                            <span class="s0">
                                 부처님 진신치아사리 모셔진,<br>
                                호국불교의 본산
                            </span>
                            설악산 신흥사, 백담사등 9개 말사(末寺)를<br>
                            거느렸던 전국 4대 사찰 중 한곳으로<br>
                            신라 법흥왕(서기520년)때 지어진<br>
                            오랜 사찰입니다
                        </p>
                    </a>
                </li>
                <li class="nth-2">
                    <img src="http://img.ocean2you.co.kr/renew/tourist_02.jpg" alt="삼포해수욕장" class="bgImg">
                    <a href="javascript:;">
                        <h3>삼포해수욕장</h3>
                        <div class="mg-"></div>
                        <p class="p0">
                            <span class="s0">은빛 백사장이 아름다운 해수욕장</span>
                            강원도고성군에 위치한 삼포 해수욕장은<br>
                            깨끗한 백사장, 울창한 송림을 지닌<br>
                            국민관광지로 유명한 곳입니다
                        </p>
                    </a>
                </li>
                <li class="nth-3-1">
                    <img src="http://img.ocean2you.co.kr/renew/tourist_03_01.jpg" alt="설악" class="bgImg">
                    <a href="http://ocean2you.co.kr/view/?go_scroll=info_box5">
                        <h3>설악워터피아</h3>
                        <div class="mg-"></div>
                        <p class="p0">
                            100% 천연 온천수로 즐기는<br>
                            온천 테마파크!<br>
                            오션투유 리조트 예약시 할인권 제공!<br>
                            <span href="" class="more-a">자세히보기</span>
                        </p>
                    </a>
                </li>
                <li class="nth-4">
                    <img src="http://img.ocean2you.co.kr/renew/tourist_04.jpg" alt="송지호" class="bgImg">
                    <a href="javascript:;">
                        <h3>송지호</h3>
                        <div class="mg-"></div>
                        <p class="p0">
                            <span class="s0">둘레길 따라 걸으며 호수의 여유를 만끽!</span>
                            둘레가 4km에 약 20만평 넓이의<br>
                            대자연호수로 울창한 송림과 함께 물빛이<br>
                            청명하고 수심이 일정하며 많은 어족들이<br>
                            서식하기에 적합한 곳으로 유명합니다.
                        </p>
                    </a>
                </li>
                <li class="nth-5">
                    <img src="http://img.ocean2you.co.kr/renew/tourist_05.jpg" alt="청초호" class="bgImg">
                    <a href="javascript:;">
                        <h3>청초호</h3>
                        <div class="mg-"></div>
                        <p class="p0">
                            <span class="s0">속초시 야경이 아름다운 청초호</span>
                            강원도 속초시는 석호인 청초호를 중심으로<br>
                            형성되어 있으며, 속초시내와 설악산이<br>
                            한눈에 펼쳐져 수려한 속초의 풍경을<br>
                            감상하시기 좋습니다.
                        </p>
                    </a>
                </li>
                <li class="nth-6">
                    <img src="http://img.ocean2you.co.kr/renew/tourist_06.jpg" alt="천학정" class="bgImg">
                    <a href="javascript:;">
                        <h3>천학정</h3>
                        <div class="mg-"></div>
                        <p class="p0">
                            <span class="s0">노송과 깍아지른 듯한 해안절벽위의 선경</span>
                            동해바다의 신비를 고스란히 간직하고 있는<br>
                            천혜의 기암괴석과 깍아지른 듯한 해안 절벽위에<br>
                            건립되어 경치가 아름다운 곳입니다
                        </p>
                    </a>
                </li>
                <li class="nth-7">
                    <img src="http://img.ocean2you.co.kr/renew/tourist_07.jpg" alt="설악산" class="bgImg">
                    <a href="javascript:;">
                        <h3>설악산 비선대</h3>
                        <div class="mg-"></div>
                        <p class="p0">
                            <span class="s0">
                                선녀가 하늘로 올라갔다는 비선대에서<br>
                                바라보는 금강굴 절경
                            </span>
                            비선대코스는 선녀가 하늘로 올라갔다하여<br>
                            그만큼 아름다운 전경을 탐방할 수 있는<br>
                            약 3.0km 구간으로 시간은<br>
                            편도 약 1시간 정도 소요됩니다.
                        </p>
                    </a>
                </li>
                <li class="nth-3">
                    <img src="http://img.ocean2you.co.kr/renew/tourist_03.jpg" alt="화암사" class="bgImg">
                    <a href="javascript:;">
                        <h3>화암사</h3>
                        <div class="mg-"></div>
                        <p class="p0">
                            <span class="s0">신선봉 아래, 벼에 관한 전설 얽힌 화암사</span>
                            미시령의 울산바위, 수바위 신선봉이<br>
                            어우러져 빚어내는 화암사 주변의<br>
                            가을단풍은 아름다움의 극치를 이룹니다
                        </p>
                    </a>
                </li>

            </ul>
        </div>
    </section>-->
        <!--<li class="lst">
                    <img src="http://img.ocean2you.co.kr/renew/tourist_more.jpg" alt="더보기" class="bgImg">
                    <a href="">
                        <h3 class="hidden">더보기</h3>
                    </a>
                </li>-->

        <section class="facil">
            <div class="container">
                <div class="in-tit">
                    <h2>시설안내</h2>
                    <p class="p0">강원도 설악, 속초, 고성에 위치한 오션투유 리조트 시설안내</p>
                </div>

                <div class="bxList nth-1 clr" id="bxList-1">
                    <div class="bxBox nth-1">
                        <ul class="bxS-1">
                            <li><img src="http://img.ocean2you.co.kr/renew/facil_01.jpg" alt="오션투유 콘도" /></li>
                            <li><img src="http://img.ocean2you.co.kr/renew/facil_01.jpg" alt="오션투유 콘도" /></li>
                        </ul>
                        <div class="txt-box">
                            <p class="p0">오션투유 콘도</p>
                            <a href="" class="more-a">자세히보기</a>
                        </div>
                    </div>
                    <div class="bxBox nth-2">
                        <ul class="bxS-2">
                            <li><img src="http://img.ocean2you.co.kr/renew/facil_02.jpg" alt="오션투유 리노베이션 콘도/호텔" /></li>
                            <li><img src="http://img.ocean2you.co.kr/renew/facil_02.jpg" alt="오션투유 리노베이션 콘도/호텔" /></li>
                        </ul>
                        <div class="txt-box">
                            <p class="p0">오션투유 콘도</p>
                            <a href="" class="more-a">자세히보기</a>
                        </div>
                    </div>
                </div>

                <div class="bxList nth-2 clr">
                    <div class="bxBox nth-1">
                        <img class="bgImg" src="http://img.ocean2you.co.kr/renew/facil_03.jpg" alt="오션투유 콘도" />
                        <div class="txt-box">
                            <p class="p0">레스토랑 다연</p>
                            <a href="" class="more-a">자세히보기</a>
                        </div>
                    </div>
                    <div class="bxBox nth-2">
                        <img class="bgImg" src="http://img.ocean2you.co.kr/renew/facil_04.jpg" alt="오션투유 콘도" />
                        <div class="txt-box">
                            <p class="p0">카페 라바짜</p>
                            <a href="" class="more-a">자세히보기</a>
                        </div>
                    </div>
                </div>
                <div class="bxList nth-3 clr">
                    <div class="bxBox nth-1">
                        <img class="bgImg" src="http://img.ocean2you.co.kr/renew/facil_05.jpg" alt="오션투유 콘도" />
                        <div class="txt-box">
                            <p class="p0">편의점</p>
                            <a href="" class="more-a">자세히보기</a>
                        </div>
                    </div>
                    <div class="bxBox nth-2">
                        <img class="bgImg" src="http://img.ocean2you.co.kr/renew/facil_06.jpg" alt="오션투유 콘도" />
                        <div class="txt-box">
                            <p class="p0">바베큐장</p>
                            <a href="" class="more-a">자세히보기</a>
                        </div>
                    </div>
                    <div class="bxBox nth-3">
                        <img class="bgImg" src="http://img.ocean2you.co.kr/renew/facil_07.jpg" alt="오션투유 콘도" />
                        <div class="txt-box">
                            <p class="p0">연회장</p>
                            <a href="" class="more-a">자세히보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wayto">
            <div class="container">
                <div class="in-tit">
                    <h2>오시는길</h2>
                    <p class="p0">강원도 설악, 속초, 고성에 위치한 오션투유 리조트 위치안내</p>
                </div>

                <!-- 181212 -->
                <div class="map-box clr">
                    <a href="javascript:;" onclick="$('#pop-bustour').show()">
                        <img src="http://img.ocean2you.co.kr/renew/bt_waytobus_m.jpg" alt="속초버스투어자세히보기" class="show-xs wd-f">
                        <img src="http://img.ocean2you.co.kr/renew/bt_waytobus.jpg" alt="속초버스투어자세히보기" class="hidden-xs">
                    </a>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.3620469800658!2d128.52880931560614!3d38.31744607966428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5fd894b74d5ee2c3%3A0xf978c9441b2a53bd!2z7Jik7IWYIO2IrOycoCDrpqzsobDtirgg7ISk7JWF67mE7LmYIO2YuO2FlCDslaQg7L2Y64-E!5e0!3m2!1sko!2skr!4v1503997101294" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <!--171115 내용 수정-->
                    <div class="mapExp">
                        <p class="p0">자가 차량 이용시</p>
                        <p class="p1">네비게이션 주소 또는 오션투유 리조트 입력</p>
                        <p class="p0">대중교통 이용시</p>
                        <p class="p1"><span class="f-bd">간성시외버스터미널 하차시</span> - 신안리 정류장에서 1번, 1-1 버스 승차, <span class="lg-block">삼포리정류장에서 하차, 105m 이동 <a class="wayBtn" href="http://dmaps.kr/6x66r" target="_blank"><img src="http://img.ocean2you.co.kr/renew/wayto_btn.jpg" alt="길찾기"></a></span></p>
                        <p class="p1"><span class="f-bd">속초시외버스터미널 하차시</span> - 한국전력 정류장에서 1번, 1-1번 버스 승차, <span class="lg-block">삼포리정류장에서 하차, 105m 이동 <a class="wayBtn" href="http://dmaps.kr/6x67i" target="_blank"><img src="http://img.ocean2you.co.kr/renew/wayto_btn.jpg" alt="길찾기"></a></span></p>
                        <p class="p1"><span class="f-bd">속초고속버스터미널 하차시</span> - 속초 고속버스터미널 정류장 1번. <span class="lg-block">1-1번 버스 승차, 삼포리정류장에서 하차, 105m 이동 <a class="wayBtn" href="http://dmaps.kr/6x2av" target="_blank"><img src="http://img.ocean2you.co.kr/renew/wayto_btn.jpg" alt="길찾기"></a></span></p>
                    </div>
                </div>
            </div>
        </section>


        @@include('../include/_footer.html', {
        "page": "main"
        })
    </div>

</body>

</html>